.backdrop-blur {
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
}

@media (min-width: 640px) {
  .backdrop-blur {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
}

@media (min-width: 768px) {
  .backdrop-blur {
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
  }
}
