.backdrop-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (min-width: 640px) {
  .backdrop-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
  .backdrop-blur {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}
