#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mySwiper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* Adjust the width as needed */
  margin: auto;
  gap: 20px;
}

.swiper-button-prev {
  color: transparent !important; /* Adjust color as needed */
  left: 20px !important; /* Adjust margin from left edge */
  z-index: 10; /* Ensure it's above the swiper content */
  width: 50px !important; /* Adjust width as needed */
  height: 50px; /* Adjust width as needed */
}

.swiper-button-next {
  color: transparent !important; /* Adjust color as needed */
  right: 10px; /* Adjust margin from right edge */
  z-index: 10; /* Ensure it's above the swiper content */
  width: 50px !important; /* Adjust width as needed */
}

@media (max-width: 768px) {
  .image-container {
    width: 300px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 200px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .swiper-button-prev {
    color: transparent !important; /* Adjust color as needed */
    left: 20px !important; /* Adjust margin from left edge */
    z-index: 10; /* Ensure it's above the swiper content */
    width: 50px !important; /* Adjust width as needed */
    height: 50px; /* Adjust width as needed */
  }
  .swiper-button-next {
    color: transparent !important; /* Adjust color as needed */
    right: 10px; /* Adjust margin from right edge */
    z-index: 10; /* Ensure it's above the swiper content */
    width: 50px !important; /* Adjust width as needed */
  }
}

@keyframes infinite-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes infinite-scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-left {
  animation: infinite-scroll-left 20s linear infinite;
}

.animate-infinite-scroll-right {
  animation: infinite-scroll-right 20s linear infinite;
}
.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* Adjust the width as needed */
  margin: auto;
}

.central-img {
  z-index: 10;
}

.rotating-img-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes orbit1-clockwise {
  0% {
    transform: rotate(0deg) translateX(-50px) translateY(-50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-50px) translateY(-50px)
      rotate(-360deg);
  }
}

@keyframes orbit2-clockwise {
  0% {
    transform: rotate(0deg) translateX(150px) translateY(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) translateY(-100px)
      rotate(-360deg);
  }
}

@keyframes orbit3-clockwise {
  0% {
    transform: rotate(0deg) translateX(150px) translateY(50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) translateY(50px) rotate(-360deg);
  }
}

@keyframes orbit4-clockwise {
  0% {
    transform: rotate(0deg) translateX(-150px) translateY(-150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-150px) translateY(-150px)
      rotate(-360deg);
  }
}

@keyframes orbit5-clockwise {
  0% {
    transform: rotate(0deg) translateX(-100px) translateY(220px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-100px) translateY(220px)
      rotate(-360deg);
  }
}

@keyframes orbit6-clockwise {
  0% {
    transform: rotate(0deg) translateX(-200px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-200px) translateY(0px) rotate(-360deg);
  }
}

@keyframes orbit7-clockwise {
  0% {
    transform: rotate(0deg) translateX(80px) translateY(220px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(80px) translateY(220px) rotate(-360deg);
  }
}

@keyframes orbit8-clockwise {
  0% {
    transform: rotate(0deg) translateX(-160px) translateY(130px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-160px) translateY(130px)
      rotate(-360deg);
  }
}

/* styles.css */

.backdrop-blur-mobile {
  @apply bg-white dark:bg-black bg-opacity-5 dark:bg-opacity-5 rounded-[20px] backdrop-blur-2xl;
}

@media (max-width: 640px) {
  .backdrop-blur-mobile {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
