#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mySwiper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* Adjust the width as needed */
  margin: auto;
  gap: 20px;
}
.swiper-button-prev,
.swiper-button-next {
  color: transparent; /* Adjust color as needed */
}

.swiper-button-prev {
  left: calc(
    (100% - 800px) / 8 + 10px
  ); /* Adjust based on your image width and padding */
  width: 50px;
}

.swiper-button-next {
  right: calc(
    (100% - 500px) / 10 + 10px
  ); /* Adjust based on your image width and padding */
  width: 50px;
}

/* Optional: Increase space between next and prev buttons */
.swiper-button-next {
  margin-left: 20px; /* Adjust as needed */
}

.swiper-button-prev {
  margin-right: 20px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .image-container {
    width: 300px; /* Adjust for smaller screens */
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: calc((100% - 300px) / 2); /* Adjust based on the image width */
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 200px; /* Adjust for smaller screens */
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: calc((100% - 200px) / 2); /* Adjust based on the image width */
  }
}

@keyframes infinite-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes infinite-scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-left {
  animation: infinite-scroll-left 20s linear infinite;
}

.animate-infinite-scroll-right {
  animation: infinite-scroll-right 20s linear infinite;
}
